.position
{background-color: black;
 text-align: center;
 width: 60px;
 height: 60px;}

.blankSpace
{background-color: green;
 text-align: center;
 width: 60px;
 height: 60px;}

.redPiece
{color: Red;
 font-size: 40px;}
.whitePiece
{color: White;
 font-size: 40px;}
